form {
    padding-top: 50px;
    width: max-content;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

input.text {
    width: 220px;
    height: 20px;
    font-size: 10pt;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
}

input.text:focus {
    background-color: #e7e7e7;
}

form > p {
    font-size: 13pt;
}

div.block_submit > a {
    font-size: 12pt;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

div.block_submit {
    width: max-content;
    margin-left: auto;
}
 
input.submit {
    font-size: 10pt;
    margin-right: 7px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    padding: 3px 10px;
    transition: 0.5s;
}

input.submit:focus, input.submit:hover {
    background-color: rgb(168, 168, 168);
}

input.submit:active {
    background-color: rgb(107, 107, 107);
}

